{ifpages}
    <span class="sub-menu-btn"></span>
{/ifpages}

<a href="{$page:url}" title="{$page:h1}">{$page:navName}</a>

{submenu}
    <a class="page-title" href="{$page:url}" title="{$page:h1}">{$page:navName}</a>
{/submenu}